body {
  background: var(--backgroundColor1);
  font-family: var(--fontFamilyTitle), sans-serif;
}

html {
  font-size: clamp(11px, 1.6vmin, 2vmax);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
