body {
  background: var(--backgroundColor1);
  font-family: var(--fontFamilyTitle), sans-serif;
}

html {
  font-size: clamp(11px, 1.6vmin, 2vmax);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.ant-input-group .ant-input:first-child {
  cursor: pointer;
  position: relative;
  background: coral;
  border-radius: 5px;
}

.ant-input-group .ant-input::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 30;
}

.ant-input-group.ant-input-group-compact {
  position: relative;
  display: flex;
}
.cardState.loading,
.cardState.empty {
  pointer-events: none;
}

.cardState.loading .image,
.cardState.empty .image {
  position: relative;
}

.cardState.loading .image:after,
.cardState.empty .image:after {
  content: "";
  position: absolute;
  background-color: coral;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  opacity: .7;
  animation: skeleton-loading 1s linear infinite alternate;
}

.cardState.ok {
  /* background-color: rgb(255, 72, 72); */
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--backgroundColor1);
  }
  
  100% {
    background-color: var(--borderColor1);
  }
}
