.themeWrapper {
  display: flex;
  width: 100%;
}

.heading1Contain {
  margin-bottom: 1.3rem;
}
.heading1 {
  font-size: 5em;
  color: var(--accentColor1);
  font-weight: 500;
}

.heading2Contain {
  margin-bottom: 1rem;
}

.heading2 {
  font-size: 3em;
  color: var(--textColor1);
  font-weight: 500;
}

.heading1line,
.heading2line {
  /* width: 100%; */
  flex-grow: 1;
  margin-top: auto;
  border-bottom: 0.1rem dashed black;
  margin-bottom: 0.2rem;
  margin-left: 1rem;
}

.heading1line {
  border-color: var(--accentColor1);
}

.heading2line {
  border-color: var(--textColor1);
}

.blockImageContain {
  margin-bottom: 1rem;
}

.blockImage {
  border-radius: 10px;
  height: 30vmin;
  width: 100%;
  object-fit: cover;
}

.imageDotsFrame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 0.1rem dashed var(--textColor1);
}

.blockParagraphContain {
  margin-bottom: 1rem;
}

.paragraphContain {
  font-size: 1em;
  color: var(--textColor1);
  font-weight: 400;
}

.blockCallout {
  display: grid;
  grid-template-areas:
    "a a a"
    "b c c";
  gap: 2%;
  border-radius: 10px;
  padding: 2rem;
  width: 100%;
  background: whitesmoke;
  margin-bottom: 1rem;
  position: relative;
}

.blockCallout .emoji {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.blockCallout .heading2Contain {
  grid-area: a;
  /* padding-left: 2rem; */
}

.blockCallout > div:nth-child(3) {
  grid-area: b;
}

.blockCallout > div:nth-child(4) {
  grid-area: c;
}

.blockCallout .emoji {
  font-size: 3em;
}

.wrapper {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-grow: 0;
}

.wrapper:hover {
  cursor: pointer;
}

.wrapper:hover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  pointer-events: none;
  box-shadow: 0 0 1vmin rgba(var(--accentColor1RGB), 0.3);
}

.wrapper.active {
  /* border-radius: 0.4rem; */
  box-shadow: 0 0 1vmin rgba(var(--accentColor1RGB), 0.6);
}
