.login {
  display: flex;
  flex-direction: column;
}

.login a {
  color: var(--textColor1);
  text-decoration: none;
  display: inline-flex;
  margin-bottom: 10px;
}

.login img {
  width: 100%;
  max-width: 300px;
}

.login img:hover {
  transform: scale(1.005);
}

.loginText {
  margin-top: 20px;
}

a:hover {
  text-decoration: underline;
}
